/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    background:url("../img/background-09.png");
    background-color: #00AB9E;
    background-size: cover;
    font-family: 'Pontano Sans', sans-serif;
}
.centered{
    left:50%;
    position: absolute;
    top: 50%;
}
.circle{
    background: url("../img/heart-06.png");
    background-size: contain;
}
.circle, .heart{
    height: inherit;
    background-position: center;
    background-repeat: no-repeat;
    width: inherit;
}
.col-md-6{
    align-items: center;
    display: flex;
    height: 50%;
    justify-content: center;
}
.col-md-6 .value{
    font-size: 90px;
    line-height: 65px;
}
.col-md-6 .variable{
    font-size: 30px;
}
.heart{
    background: url("../img/heart-07.png");
    background-size: contain;
    opacity: 0.8;
    position: absolute;
    top: 0;
}
.jumbotron{
    background-color: transparent;
    margin: 0;
    padding: 0;
    position: relative;
}
.jumbotron > div{
    color: white;
}
.jumbotron > div img, .jumbotron > div p{
    display: block;
    margin: 0 auto 7px;
    text-align: center;
}
.jumbotron p{
    font-size: 13px;
}
.jumbotron .waiting-message{
    font-size: 17px;
}
.logo{
    width:150px;
}
.pre-pulse-panel{
    margin-top: -211.5px;
    margin-left: -132px;
}
.patient-info{
    padding: 27px;
    width: 100%;
}
.patient-info p{
    font-size: 17px;
}
.pulse-panel{
    display: none;
    height: 450px;
    margin-top: -225px;
    margin-left: -299px;
    width: 598px;
}
.pulse-panel > div{
    align-items: center;
    display: flex;
    height: inherit;
    justify-content: center;
}
.pulse-panel > div > div{
    overflow: auto;
}
.pulse-panel .patient-info img{
    width: 58px;
    margin-bottom: 20px;
}
.waiting-pulse{
    height: 264px;
    margin: 30px auto;
    position: relative;
    width: 264px;
}
/* ==========================================================================
   Animation Styles
   ========================================================================== */

.animated { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in; 
    animation-timing-function: ease-in; 
} 

@-webkit-keyframes fadeIn { 
    0% {opacity: 0;} 
    50% {opacity: 1;} 
} 
@keyframes fadeIn { 
    0% {opacity: 0;} 
    50% {opacity: 1;} 
} 
.fadeIn { 
    -webkit-animation-name: fadeIn; 
    animation-name: fadeIn; 
}
.spin {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;    
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}